In [2]:
import pandas as pd
import numpy as np
import string
import matplotlib.pyplot as plt
import matplotlib
import sklearn as sk
matplotlib.style.use('ggplot')

# From Excel training sheets
training_values = pd.read_csv('/Users/noahmitchellward/Desktop/EECS_351/Project/Training_Set_Values.csv')
training_labels = pd.read_csv('/Users/noahmitchellward/Desktop/EECS_351/Project/Training_Set_Labels.csv')

# Get the full training set
train = pd.merge(training_labels, training_values, how='inner', on='id')

In [3]:
# Replacing zero/null construction years with the average of construction year
constrMean = train[train['construction_year'] > 0]['construction_year'].mean()

train2 = train

train2.loc[train2['construction_year'] <= 0, 'construction_year'] = constrMean
train2.loc[train2['construction_year'] == 0]

Empty DataFrame
Columns: [id, status_group, amount_tsh, date_recorded, funder, gps_height, installer, longitude, latitude, wpt_name, num_private, basin, subvillage, region, region_code, district_code, lga, ward, population, public_meeting, recorded_by, scheme_management, scheme_name, permit, construction_year, extraction_type, extraction_type_group, extraction_type_class, management, management_group, payment, payment_type, water_quality, quality_group, quantity, quantity_group, source, source_type, source_class, waterpoint_type, waterpoint_type_group]
Index: []

[0 rows x 41 columns]

In [25]:
# messing around
pd.crosstab(train['district_code'],train['status_group'])

status_group   functional  functional needs repair  non functional
district_code
0                       4                        2              17
1                    6558                     1287            4358
2                    6203                      844            4126
3                    4954                      699            4345
4                    5595                      509            2895
5                    2479                      194            1683
6                    2055                      232            1787
7                    2014                      214            1115
8                     589                       53             401
13                    119                       29             243
23                    165                       26             102
30                    689                       86             220
33                    194                       98             582
43                    213                        8             284
53                    250                       26             469
60                     51                        3               9
62                     57                        0              52
63                     62                        5             128
67                      5                        1               0
80                      3                        1               8

In [32]:
# Removing columns that are deemed not useful, incoherent, or have little predictive power

# We can see here that extraction_type is the most specific instance of the extraction method, with
# extraction_type_group is the most general, and extraction_type_class in the middle. We use the most specific case.
print(pd.crosstab(train['extraction_type'],train['extraction_type_group']))

print(pd.crosstab(train['extraction_type'],train['extraction_type_class']))

del train2['extraction_type_group']
del train2['extraction_type_class']

# Next is quantity and quantity_group - they contain the same data, so we delete quantity_group
print(pd.crosstab(train['quantity'],train['quantity_group']))

del train2['quantity_group']

extraction_type_group      afridev  gravity  india mark ii  india mark iii  \
extraction_type
afridev                       1770        0              0               0
cemo                             0        0              0               0
climax                           0        0              0               0
gravity                          0    26780              0               0
india mark ii                    0        0           2400               0
india mark iii                   0        0              0              98
ksb                              0        0              0               0
mono                             0        0              0               0
nira/tanira                      0        0              0               0
other                            0        0              0               0
other - mkulima/shinyanga        0        0              0               0
other - play pump                0        0              0               0
other - rope pump                0        0              0               0
other - swn 81                   0        0              0               0
submersible                      0        0              0               0
swn 80                           0        0              0               0
walimi                           0        0              0               0
windmill                         0        0              0               0

extraction_type_group      mono  nira/tanira  other  other handpump  \
extraction_type
afridev                       0            0      0               0
cemo                          0            0      0               0
climax                        0            0      0               0
gravity                       0            0      0               0
india mark ii                 0            0      0               0
india mark iii                0            0      0               0
ksb                           0            0      0               0
mono                       2865            0      0               0
nira/tanira                   0         8154      0               0
other                         0            0   6430               0
other - mkulima/shinyanga     0            0      0               2
other - play pump             0            0      0              85
other - rope pump             0            0      0               0
other - swn 81                0            0      0             229
submersible                   0            0      0               0
swn 80                        0            0      0               0
walimi                        0            0      0              48
windmill                      0            0      0               0

extraction_type_group      other motorpump  rope pump  submersible  swn 80  \
extraction_type
afridev                                  0          0            0       0
cemo                                    90          0            0       0
climax                                  32          0            0       0
gravity                                  0          0            0       0
india mark ii                            0          0            0       0
india mark iii                           0          0            0       0
ksb                                      0          0         1415       0
mono                                     0          0            0       0
nira/tanira                              0          0            0       0
other                                    0          0            0       0
other - mkulima/shinyanga                0          0            0       0
other - play pump                        0          0            0       0
other - rope pump                        0        451            0       0
other - swn 81                           0          0            0       0
submersible                              0          0         4764       0
swn 80                                   0          0            0    3670
walimi                                   0          0            0       0
windmill                                 0          0            0       0

extraction_type_group      wind-powered
extraction_type
afridev                               0
cemo                                  0
climax                                0
gravity                               0
india mark ii                         0
india mark iii                        0
ksb                                   0
mono                                  0
nira/tanira                           0
other                                 0
other - mkulima/shinyanga             0
other - play pump                     0
other - rope pump                     0
other - swn 81                        0
submersible                           0
swn 80                                0
walimi                                0
windmill                            117
extraction_type_class      gravity  handpump  motorpump  other  rope pump  \
extraction_type
afridev                          0      1770          0      0          0
cemo                             0         0         90      0          0
climax                           0         0         32      0          0
gravity                      26780         0          0      0          0
india mark ii                    0      2400          0      0          0
india mark iii                   0        98          0      0          0
ksb                              0         0          0      0          0
mono                             0         0       2865      0          0
nira/tanira                      0      8154          0      0          0
other                            0         0          0   6430          0
other - mkulima/shinyanga        0         2          0      0          0
other - play pump                0        85          0      0          0
other - rope pump                0         0          0      0        451
other - swn 81                   0       229          0      0          0
submersible                      0         0          0      0          0
swn 80                           0      3670          0      0          0
walimi                           0        48          0      0          0
windmill                         0         0          0      0          0

extraction_type_class      submersible  wind-powered
extraction_type
afridev                              0             0
cemo                                 0             0
climax                               0             0
gravity                              0             0
india mark ii                        0             0
india mark iii                       0             0
ksb                               1415             0
mono                                 0             0
nira/tanira                          0             0
other                                0             0
other - mkulima/shinyanga            0             0
other - play pump                    0             0
other - rope pump                    0             0
other - swn 81                       0             0
submersible                       4764             0
swn 80                               0             0
walimi                               0             0
windmill                             0           117

KeyError: 'extraction_type_group'

In [33]:
# recorded_by is all the same value; it contains no information
print(train2['recorded_by'].value_counts())

del train2['recorded by']

GeoData Consultants Ltd    59400
Name: recorded_by, dtype: int64

In [34]:
# Function to delete columns from dataframe
def deleteColumns(df, catList):
    for category in catList:
        df = df.drop(category,1)
    return df

In [36]:
deleteColumns(train2,['num_private','payment']).columns

Index(['id', 'status_group', 'amount_tsh', 'date_recorded', 'funder',
       'gps_height', 'installer', 'longitude', 'latitude', 'wpt_name', 'basin',
       'subvillage', 'region', 'region_code', 'district_code', 'lga', 'ward',
       'population', 'public_meeting', 'recorded_by', 'scheme_management',
       'scheme_name', 'permit', 'construction_year', 'extraction_type',
       'management', 'management_group', 'payment_type', 'water_quality',
       'quality_group', 'quantity', 'source', 'source_type', 'source_class',
       'waterpoint_type', 'waterpoint_type_group'],
      dtype='object')

In [37]:
train2.columns

Index(['id', 'status_group', 'amount_tsh', 'date_recorded', 'funder',
       'gps_height', 'installer', 'longitude', 'latitude', 'wpt_name',
       'num_private', 'basin', 'subvillage', 'region', 'region_code',
       'district_code', 'lga', 'ward', 'population', 'public_meeting',
       'recorded_by', 'scheme_management', 'scheme_name', 'permit',
       'construction_year', 'extraction_type', 'management',
       'management_group', 'payment', 'payment_type', 'water_quality',
       'quality_group', 'quantity', 'source', 'source_type', 'source_class',
       'waterpoint_type', 'waterpoint_type_group'],
      dtype='object')

In [9]:
svmCols = pd.concat([train2['longitude'], train2['latitude']], axis=1)
svmCols = pd.concat([svmCols, train2['gps_height']], axis=1)
svmCols

       longitude      latitude  gps_height
0      34.938093 -9.856322e+00        1390
1      34.698766 -2.147466e+00        1399
2      37.460664 -3.821329e+00         686
3      38.486161 -1.115530e+01         263
4      31.130847 -1.825359e+00           0
5      39.172796 -4.765587e+00           0
6      33.362410 -3.766365e+00           0
7      32.620617 -4.226198e+00           0
8      32.711100 -5.146712e+00           0
9      30.626991 -1.257051e+00           0
10     39.209518 -7.034139e+00          62
11     35.770258 -1.057417e+01        1062
12     33.798106 -3.290194e+00           0
13     37.092574 -3.181783e+00        1368
14     34.364073 -3.629333e+00           0
15     31.444121 -8.274962e+00        1645
16     34.642439 -9.106185e+00        1703
17     34.569266 -9.085515e+00        1656
18     32.920154 -1.947868e+00        1162
19     34.508967 -9.894412e+00        1763
20     34.473430 -9.594990e+00        2216
21      0.000000 -2.000000e-08           0
22     34.586901 -8.980014e+00        1510
23     37.940029 -4.125595e+00         672
24     29.747066 -4.495568e+00        1645
25     37.422751 -3.317536e+00        1273
26     39.370777 -9.942532e+00         200
27     31.104257 -1.735361e+00           0
28     37.611126 -3.263526e+00        1443
29     37.061688 -3.191989e+00        1256
...          ...           ...         ...
59370  30.058731 -4.902633e+00        1154
59371  33.586406 -3.040369e+00           0
59372  32.058548 -5.052101e+00           0
59373  32.125024 -6.784358e+00        1137
59374   0.000000 -2.000000e-08           0
59375  39.046942 -5.061494e+00          54
59376  34.821039 -5.076258e+00        1581
59377  33.437012 -4.423594e+00           0
59378  34.620387 -9.358405e+00        2101
59379  31.613284 -1.820226e+00           0
59380  34.942101 -9.849198e+00        1439
59381  38.835001 -4.880204e+00           0
59382  37.454759 -3.323599e+00        1383
59383  39.626009 -1.005750e+01          11
59384  30.667805 -2.483710e+00           0
59385  33.951681 -2.021854e+00        1327
59386  31.738789 -8.532013e+00        1786
59387  39.176480 -6.957098e+00          25
59388  30.692400 -3.593827e+00        1414
59389  30.646486 -7.365418e+00         783
59390  31.370848 -8.258160e+00        1715
59391  38.044070 -4.272218e+00         540
59392  33.009440 -8.520888e+00           0
59393  33.866852 -4.287410e+00           0
59394  37.634053 -6.124830e+00         351
59395  37.169807 -3.253847e+00        1210
59396  35.249991 -9.070629e+00        1212
59397  34.017087 -8.750434e+00           0
59398  35.861315 -6.378573e+00           0
59399  38.104048 -6.747464e+00         191

[59400 rows x 3 columns]

In [24]:
from sklearn.svm import NuSVC

clf = NuSVC()
clf.fit(svmCols, training_labels)

ValueError: bad input shape (59400, 2)

In [18]:
clf.predict([[2., 2.]])

array([1])