In [30]:
import pandas as pd
import numpy as np
import string
import matplotlib.pyplot as plt
import matplotlib
import sklearn as sk
matplotlib.style.use('ggplot')

# From Excel training sheets
training_values = pd.read_csv('/Users/noahmitchellward/Desktop/EECS_351/Project/Training_Set_Values.csv')
training_labels = pd.read_csv('/Users/noahmitchellward/Desktop/EECS_351/Project/Training_Set_Labels.csv')

# Get the full training set
train = pd.merge(training_labels, training_values, how='inner', on='id')

In [24]:
# Replacing zero/null construction years with the average of construction year
constrMean = train[train['construction_year'] > 0]['construction_year'].mean()

train2 = train

train2.loc[train2['construction_year'] <= 0, 'construction_year'] = constrMean
train2.loc[train2['construction_year'] == 0]

Empty DataFrame
Columns: [id, status_group, amount_tsh, date_recorded, funder, gps_height, installer, longitude, latitude, wpt_name, num_private, basin, subvillage, region, region_code, district_code, lga, ward, population, public_meeting, recorded_by, scheme_management, scheme_name, permit, construction_year, extraction_type, extraction_type_group, extraction_type_class, management, management_group, payment, payment_type, water_quality, quality_group, quantity, quantity_group, source, source_type, source_class, waterpoint_type, waterpoint_type_group]
Index: []

[0 rows x 41 columns]

In [25]:
# messing around
pd.crosstab(train['district_code'],train['status_group'])

status_group   functional  functional needs repair  non functional
district_code
0                       4                        2              17
1                    6558                     1287            4358
2                    6203                      844            4126
3                    4954                      699            4345
4                    5595                      509            2895
5                    2479                      194            1683
6                    2055                      232            1787
7                    2014                      214            1115
8                     589                       53             401
13                    119                       29             243
23                    165                       26             102
30                    689                       86             220
33                    194                       98             582
43                    213                        8             284
53                    250                       26             469
60                     51                        3               9
62                     57                        0              52
63                     62                        5             128
67                      5                        1               0
80                      3                        1               8

In [32]:
# Removing columns that are deemed not useful, incoherent, or have little predictive power

# We can see here that extraction_type is the most specific instance of the extraction method, with
# extraction_type_group is the most general, and extraction_type_class in the middle. We use the most specific case.
print(pd.crosstab(train['extraction_type'],train['extraction_type_group']))

print(pd.crosstab(train['extraction_type'],train['extraction_type_class']))

del train2['extraction_type_group']
del train2['extraction_type_class']

# Next is quantity and quantity_group - they contain the same data, so we delete quantity_group
print(pd.crosstab(train['quantity'],train['quantity_group']))

del train2['quantity_group']

extraction_type_group      afridev  gravity  india mark ii  india mark iii  \
extraction_type
afridev                       1770        0              0               0
cemo                             0        0              0               0
climax                           0        0              0               0
gravity                          0    26780              0               0
india mark ii                    0        0           2400               0
india mark iii                   0        0              0              98
ksb                              0        0              0               0
mono                             0        0              0               0
nira/tanira                      0        0              0               0
other                            0        0              0               0
other - mkulima/shinyanga        0        0              0               0
other - play pump                0        0              0               0
other - rope pump                0        0              0               0
other - swn 81                   0        0              0               0
submersible                      0        0              0               0
swn 80                           0        0              0               0
walimi                           0        0              0               0
windmill                         0        0              0               0

extraction_type_group      mono  nira/tanira  other  other handpump  \
extraction_type
afridev                       0            0      0               0
cemo                          0            0      0               0
climax                        0            0      0               0
gravity                       0            0      0               0
india mark ii                 0            0      0               0
india mark iii                0            0      0               0
ksb                           0            0      0               0
mono                       2865            0      0               0
nira/tanira                   0         8154      0               0
other                         0            0   6430               0
other - mkulima/shinyanga     0            0      0               2
other - play pump             0            0      0              85
other - rope pump             0            0      0               0
other - swn 81                0            0      0             229
submersible                   0            0      0               0
swn 80                        0            0      0               0
walimi                        0            0      0              48
windmill                      0            0      0               0

extraction_type_group      other motorpump  rope pump  submersible  swn 80  \
extraction_type
afridev                                  0          0            0       0
cemo                                    90          0            0       0
climax                                  32          0            0       0
gravity                                  0          0            0       0
india mark ii                            0          0            0       0
india mark iii                           0          0            0       0
ksb                                      0          0         1415       0
mono                                     0          0            0       0
nira/tanira                              0          0            0       0
other                                    0          0            0       0
other - mkulima/shinyanga                0          0            0       0
other - play pump                        0          0            0       0
other - rope pump                        0        451            0       0
other - swn 81                           0          0            0       0
submersible                              0          0         4764       0
swn 80                                   0          0            0    3670
walimi                                   0          0            0       0
windmill                                 0          0            0       0

extraction_type_group      wind-powered
extraction_type
afridev                               0
cemo                                  0
climax                                0
gravity                               0
india mark ii                         0
india mark iii                        0
ksb                                   0
mono                                  0
nira/tanira                           0
other                                 0
other - mkulima/shinyanga             0
other - play pump                     0
other - rope pump                     0
other - swn 81                        0
submersible                           0
swn 80                                0
walimi                                0
windmill                            117
extraction_type_class      gravity  handpump  motorpump  other  rope pump  \
extraction_type
afridev                          0      1770          0      0          0
cemo                             0         0         90      0          0
climax                           0         0         32      0          0
gravity                      26780         0          0      0          0
india mark ii                    0      2400          0      0          0
india mark iii                   0        98          0      0          0
ksb                              0         0          0      0          0
mono                             0         0       2865      0          0
nira/tanira                      0      8154          0      0          0
other                            0         0          0   6430          0
other - mkulima/shinyanga        0         2          0      0          0
other - play pump                0        85          0      0          0
other - rope pump                0         0          0      0        451
other - swn 81                   0       229          0      0          0
submersible                      0         0          0      0          0
swn 80                           0      3670          0      0          0
walimi                           0        48          0      0          0
windmill                         0         0          0      0          0

extraction_type_class      submersible  wind-powered
extraction_type
afridev                              0             0
cemo                                 0             0
climax                               0             0
gravity                              0             0
india mark ii                        0             0
india mark iii                       0             0
ksb                               1415             0
mono                                 0             0
nira/tanira                          0             0
other                                0             0
other - mkulima/shinyanga            0             0
other - play pump                    0             0
other - rope pump                    0             0
other - swn 81                       0             0
submersible                       4764             0
swn 80                               0             0
walimi                               0             0
windmill                             0           117

KeyError: 'extraction_type_group'

In [33]:
# recorded_by is all the same value; it contains no information
print(train2['recorded_by'].value_counts())

del train2['recorded by']

GeoData Consultants Ltd    59400
Name: recorded_by, dtype: int64

In [ ]:
# Function to delete columns from dataframe
def deleteColumns(df, catList)
    for category in catList
        del df[category]